<style type="text/css">
  .container {
    margin: 20px auto;
    width: 600px;
    padding: 0px 20px 20px 20px;
  }
  th {
    text-align: left;
  }
</style>

<h1>J & Shivam's Bitly</h1>
<nav>
  <ul>
    <li><a href="/users/new">Sign Up</a></li>
    <li><a href="/users/login">Login</a></li>
  </ul>
</nav>

<% if @url && @url.errors.any? %>
<ul class= "errors">
  <% @url.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>
<% end %>


<div class="container">
  <form action="/urls" method="POST">
    <fieldset>
      <legend>Url</legend>
      <label for ="long_url">Insert Url</label>
      <input type="text" name="long_url" /><br/>
      <input type="submit" value="Create short url" />
    </fieldset>
</div>


<ul>
<% @urls.each do |url| %>
  <li><%= url.long_url %> = /<%= url.short_url %> <br/> 
    clicks = <%= url.clicks %>
<% end %>
</ul>
