<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">

  <title></title>
</head>
<body>
  <h1>J & Shivam's Bitly</h1>
  <nav>
  <ul>
    <li><a href="/">Home</a></li>
    <% if current_user %>
        <li><a href="/users/<%= @current_user.id%>">My Profile</a></li>
        <%= erb :"_signout_form" %>
    <% else %>
    <li><a href="/users/new">Sign Up</a></li>
    <li><a href="/users/login">Login</a></li>
    <% end %>
  </ul>
</nav>
  <%= yield %>
</body>
</html>
